<?xml version="1.0"?>
<terms>
	{% for term, doc_list in term_list %}<term value="{{ term }}">
		{%- for doc_id, doc_count, tfidf, idf in doc_list %}
		<doc id="{{ doc_id }}" count="{{ doc_count }}" tf-idf="{{ tfidf }}" idf="{{ idf }}"/>{% endfor %}
    </term>
    {% endfor %}
</terms>
