<?xml version="1.0" encoding="UTF-8"?>
<documents>
    {% for idx, page_info in pages %}
	<document id="{{ idx + 1 }}">
		<url>{{ page_info.url }}</url>
		<title>{{ page_info.title }}</title>
		<text>{{ page_info.text }}</text>
		<keywords>{{ page_info.keywords }}</keywords>
	</document>
	{% endfor %}
</documents>
