<?xml version="1.0"?>
<terms>
	{% for term, doc_list in term_list %}<term value="{{ term }}">
		{%- for doc_id, doc_count in doc_list %}
		<doc id="{{ doc_id }}" count="{{ doc_count }}"/>{% endfor %}
    </term>
    {% endfor %}
</terms>
